name: Build Linux AppImage for Helium
on:
  workflow_dispatch:
    inputs:
      runner:
        required: false
        description: 'Runner image to use'
        default: 'ubuntu-latest'
      do-release:
        required: false
        type: boolean
        description: 'Create a release after build is done'
        default: false

permissions:
  contents: write

jobs:
  build:
    name: Build Helium binaries and AppImage
    strategy:
      matrix:
        arch: [arm64, x86_64]
      max-parallel: 2
      fail-fast: true
    uses: ./.github/workflows/build-steps.yml
    secrets: inherit
    with:
      arch: ${{ matrix.arch }}
      runs-on: ${{ github.event.inputs.runner }}

  release:
    name: Create release
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event.inputs.do-release }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
